/* Evita el scroll en la pantalla */
body {
    overflow: hidden; /* Oculta las barras de desplazamiento */
    margin: 0; /* Elimina márgenes que puedan causar scroll */
    padding: 0;
}

.fondo2 {
    background-image: url(../Images/Backgrounds/fondo1.jpg);
    background-size: cover; /* Asegura que la imagen cubra toda el área */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    position: fixed; /* Fija la imagen al fondo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.fondo {
    text-align: center;
}

.espacio3 {
    min-height: 180px;
}

.mh-enemigos {
    display: flex;
    justify-content: center;
    position: relative; /* importante para que el movimiento se aplique bien */
    overflow: hidden;   /* evita que se salgan visualmente */
    min-height: 80px;
}

.enemy-slot {
    display: inline-block;
    width: 40px; /* espacio del slot */
    height: 40px;
    margin: 10px; /* espacio entre enemigos */
    vertical-align: middle;
    position: relative;
  }

/* Estilo para el marcador de espacio vacío */
.enemy-placeholder {
    display: inline-block;
    background-color: transparent; /* Mantener el fondo transparente */
    margin: 5px;
}

.enemy {
    width: 30px;
    height: 25px;
    display: block;
    margin: auto; /* centrar dentro del slot */
}

.enemy-bullet {
    z-index: 10;
    position: absolute;
}

.col {
    padding: 10px;
}


.sperate-gif {
    margin: 10px;
}

.relative {
    position: relative;
    display: inline-block;
}

.player1{
    position: absolute; 
    left: 20%; 
    bottom: 10%;
    transform: translateY(0);
}

.player2{
    position: absolute; 
    left: 80%; 
    bottom: 10%;
    transform: translateY(0);
}

/*Espacios*/
.espacio{
    padding: 10px;
}

.espacio1{
    margin: 5px;
}

.espacio_arriba{
    margin-top: 20px;
}

/*Fuentes*/
.eliminaciones{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: white;
    text-align: center;
}

/*Vida*/
.vida {
    width: 45px;
    height: 45px;
    margin: 10px;
}

/*Cuadro GAME OVER*/
#gameOverContainer {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
